altgraph==0.17.4
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
csscompressor==0.9.5
gitdb==4.0.11
GitPython==3.1.43
htmlmin==0.1.12
idna==3.7
Jinja2==3.1.4
jsmin==3.0.1
libmagic==1.0
Markdown==3.6
MarkupSafe==2.1.5
packaging==24.1
pdfkit==1.0.0
pefile==2023.2.7
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pyminifier3==2.3.3
python-magic==0.4.27
python-magic-bin==0.4.14
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.32.3
setuptools==70.1.0
smmap==5.0.1
tqdm==4.66.4
urllib3==2.2.2
wkhtmltopdf-api==0.0.2
